body {
	font-family: sans-serif;
	--sticker-size: 7em;
	margin: min(16px, 1em);
}
@media (orientation: portrait) {
	body {
		margin: 2px;
	}
}
.error {
	color: red;
	font-weight: bold;
}
.floating-error {
	position: fixed;
	background: white;
	top: 0;
}
.sticker{
	text-align: center;
	border: 2px solid black;
	display: inline-block;
	margin: 2px;
	padding: 2px;
}
.sticker .add {
	--color1: green;
	--color2: #dfd;
	--color3: #bfb;
	--color4: #9f9;
}
.sticker .sub {
	--color1: red;
	--color2: #fdd;
	--color3: #fbb;
	--color4: #f99;
}
.sticker-status {
	color: green;
}
.sticker[data-count="0"] .sticker-status {
	color: red;
}
.sticker button {
	color: var(--color1);
	border: 2px solid var(--color1);
	background: var(--color2);
	text-align: center;
	vertical-align: middle;
	width: 2em;
	font-weight: bold;
	height: 1.7em;
	padding: 0.1em;
	font-size: 100%;
	max-width: 40%;
	box-sizing: border-box;
}
.sticker button:hover {
	background: var(--color3);
}
.sticker button:active {
	background: var(--color4);
}
.page {
	display: inline-block;
	border: 3px solid black;
	margin: 4px;
	width: calc(100% - 8px);
	max-width: 35em;
	box-sizing: border-box;
	text-align: center;
}
.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
}
.rowRightAlign {
	text-align: right;
}
.row:has(.stickerTeam) {
	grid-template-columns: 1fr 1fr 2fr;
}
.row:has(.emblem) {
	grid-template-columns: 1.5fr 1fr 1.5fr;
}
#logout-form {
	margin: 0 0.5em;
	display: inline-block;
}
.copy-container {
	position: relative;
}
.copy-popup {
	position: absolute;
	background: white;
	color: black;
	opacity: 0.8;
	left: 0;
	top: 0;
}
#list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 100%;
	margin-top: 1em;
}
@media print {
	#list {
		margin: 0;
	}
	h1 {
		margin: 8px 0;
	}
	#list-controls, #back-link {
		display: none;
	}
}
.dup-count {
	font-size: 85%;
}
